.button {
  font-family: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #fb1;
  color: #764701;
  padding: 0.8rem 1.2rem;
  min-width: 8rem;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fea;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
